* {
  padding: 0;
  margin: 0;
}

body {
  margin: 30px;
}

.header {

}

.app {
  overflow: hidden;
  margin-bottom: 80px;
  font-size: 14px;
}

.list {
  float: left;
  margin-right: 40px;
}

.list h4 {
  margin: 10px auto;
}

ul {
  list-style: none;
}

ul li {
  cursor: pointer;
}

.sub-page {
  position: fixed;
  z-index: 10;
  top: 180px;
  left: 300px;
  width: 375px;
  min-height: 400px;
}

iframe {
  border: none;
  width: 400px;
  min-height: 400px;
}
